@using AsiaticIndustries.Core.Infrastructure

@{
    Layout = null;
}




<div class="row">
    <div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <h2 class="margin-bottom-10">Server Error</h2>
            <p class="margin-top-10">Sorry, it looks as though something broke in our system.</p>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 class="text-center">Oops!</h1>
            <img class="img-responsive center-block" src="~/Assets/images/500.png" />
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <p class="margin-top-5"> If you continue to experience technical difficulties with the page you're trying to reach, <br /> please conact admin</p>
               
          <a href="/"><span class="btn btn-primary">Back to Home Page</span></a>
        </div>
    </div>
</div>

