@using AsiaticIndustries.Core.Infrastructure
@using AsiaticIndustries.Core.Resources

@{
    ViewBag.Title = string.Format("{0} {1}", Resource.AsiaticIndustries, "NotFound");
    Layout = null;
}


<div class="row">
    <div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <h2 class="margin-bottom-10">Page Not Found!</h2>
            <p class="margin-top-10">Sorry, the page you're looking for isn't here.</p>
        </div>

     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 class="text-center">Oops!</h1>
            <img class="img-responsive center-block" src="~/Assets/images/404.png" />
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <p class="margin-top-15">You can contact us on <a class="margin-bottom-5" href="mailto:@ConfigSettings.SupportEmail"> Contact Support </a></p>
            <a href="/"><span class="btn btn-primary">Back to Home Page</span></a>
        </div>
    </div>
</div>

@*<div id="masthead">

    <div class="container">

        <div class="masthead-pad">

            <div class="masthead-text">
                <h2>Page Not Found</h2>
            </div>
            <!-- /.masthead-text -->

        </div>

    </div>
    <!-- /.container -->

</div>

<div id="content">

    <div class="container">


        <div class="row">

            <div class="span12">

                <div class="error-container">

                    <h1>Oops!</h1>

                    <h2>404 Not Found</h2>

                    <div class="error-details">
                        Sorry, the page you're looking for isn't here.

                    </div>
                    <!-- /error-details -->

                    <div class="error-actions">
                        <a class="btn btn-large btn-primary" href="./">
                            <i class="icon-chevron-left"></i>
                            &nbsp;
							Back to Dashboard
                        </a>

                        <a class="btn btn-large" href="mailto:@ConfigSettings.SupportEmail">
                            <i class="icon-envelope"></i>
                            &nbsp;
							Contact Support
                        </a>

                    </div>
                    <!-- /error-actions -->

                </div>
                <!-- /.error-container -->


            </div>
            <!-- /.span12 -->

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<div class="push"></div>*@
