@model AsiaticIndustries.Core.Models.ViewModel.DashboardModel
@using AsiaticIndustries.Core.Resources
@using AsiaticIndustries.Core.Models.ViewModel
@using AsiaticIndustries.Core.Infrastructure
@{
    ViewBag.Title = string.Format("{0} {1}", Resource.AsiaticIndustries, "Dashboard");
    Layout = null;
    int count = 0;
}

<section class="content">
  
</section>


